@import url("reset.css");

* {
	font-family: Chewy, "Comic Sans MS", sans-serif;
}

body{
	font-size:16pt;
}

h1 {
	font-size:32pt;
	margin-bottom:1em;
}

#centerContent {
	width:80%;
	margin:auto;
}

li {
	padding-top:0.5em;
	padding-bottom:0.5em;
}

ol {
	margin-left:0;
	padding-left:0;
	counter-reset:item
}
ol>li {
	margin-left:0;
	padding-left:0;
	counter-increment:item;
	list-style:none inside
}
ol>li:before {
	content:"(" counter(item) ")";
	padding-right:1em
}
